a:hover {
  color: #eaf6f6;
}
.a{
    text-decoration: none;
    background-attachment: fixed;
    background-size: cover;
 	text-decoration: none;

    
}

#sidebar {
  min-width: 270px;
  max-width: 270px;
  background: #3445b4;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative; }
  #sidebar .h6 {
    color: #fff; }
  #sidebar.active {
    margin-left: -270px; }
  #sidebar h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px; }
    #sidebar h1 .logo {
      color: #fff; }
      #sidebar h1 .logo span {
        font-size: 14px;
        color: #44bef1;
        display: block; }
  #sidebar ul.components {
    padding: 0; }
  #sidebar ul li {
    font-size: 16px; }
    #sidebar ul li > ul {
      margin-left: 10px; }
      #sidebar ul li > ul li {
        font-size: 14px; }
    #sidebar ul li a {
      padding: 10px 0;
      display: block;
      color: rgba(255, 255, 255, 0.6);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
      #sidebar ul li a span {
        color: #44bef1; }
      #sidebar ul li a:hover {
        color: #fff; }
    #sidebar ul li.active > a {
      background: transparent;
      color: #fff; }
  @media (max-width: 991.98px) {
    #sidebar {
      margin-left: -270px; }
      #sidebar.active {
        margin-left: 0; } }
  #sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media (prefers-reduced-motion: reduce) {
      #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
    #sidebar .custom-menu .btn {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      position: relative; }
      #sidebar .custom-menu .btn i {
        margin-right: -40px;
        font-size: 14px; }
      #sidebar .custom-menu .btn.btn-primary {
        background: transparent;
        border-color: transparent; }
        #sidebar .custom-menu .btn.btn-primary:after {
          z-index: -1;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          background: #3445b4;
          border-radius: 10px; }
        #sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
          background: transparent !important;
          border-color: transparent !important; }
@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none; } }














	#banner {
		background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
		background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
		background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
		background-image: url("images/overlay.png"), linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
		background-size: 100px 100px, cover;
		color: rgba(255, 255, 255, 0.5);
		padding: 14em 0 4em;
	}

		#banner h2 {
			font-size: 2.5em;
			line-height: 1.4;
			margin-bottom: 0;
			color: #fff;
		}

		#banner p {
			font-size: 1.15em;
			font-weight: bold;
			line-height: 1.5em;
			margin-bottom: 1.5em;
		}

		#banner > .inner {
			margin-left: auto;
			margin-right: auto;
			max-width: 70em;
			width: 100%;
		}

		@media screen and (max-width: 1366px) {

			#banner {
				padding: 10em 2.5em 3em;
			}

				#banner h2 {
					font-size: 2em;
				}

		}

		@media screen and (max-width: 980px) {

			#banner {
				padding: 10em 2em 2em;
			}

		}

		@media screen and (max-width: 736px) {

			#banner {
				padding: 8em 2em 2em;
			}

				#banner h2 {
					font-size: 1.75em;
				}

				#banner p {
					font-size: 1.1em;
				}

		}

		@media screen and (max-width: 480px) {

			#banner {
				padding: 8em 2em 2em;
			}

		}













	.split {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding-bottom: 2em;
	}

		.split > * {
			width: 50%;
		}

			.split > *:nth-child(odd) {
				padding-right: 3em;
			}

			.split > *:nth-child(even) {
				padding-left: 3em;
				border-left: solid 2px;
			}

			.split > * > :last-child,
			.split > * > :last-child > :last-child,
			.split > * > :last-child > :last-child > :last-child {
				margin-bottom: 0;
			}

		@media screen and (max-width: 980px) {

			.split > :nth-child(odd) {
				padding-right: 2em;
			}

			.split > :nth-child(even) {
				padding-left: 2em;
			}

		}

		@media screen and (max-width: 736px) {

			.split {
				padding-bottom: 0;
			}

				.split > * {
					width: 100%;
					margin-bottom: 2em;
				}

					.split > *:nth-child(odd) {
						padding-right: 0;
					}

					.split > *:nth-child(even) {
						border-left: none;
						padding-left: 0;
					}

		}

	.split > :nth-child(even) {
		border-left-color: rgba(144, 144, 144, 0.25);
	}
	
	
	
	
ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}
